/*!* start basic reset *!*/
body,
h1,
h2,
h3,
h4,
p,
img,
select,
input {
    margin: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    font-family: "Inter", Arial, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    --ambassador-primary-color: #AF5CF8;
    --ambassador-primary-color-dark: #552C78;
    --ambassador-primary-gray: #7C7C87;
    --ambassador-text-color: #272733;
    --ambassador-border-gray: #E1E9EA;
    --ambassador-border-light-purple: #AF5CF8;
    --ambassador-border-light-purple-20p-opacity: #EFDEFE;
    --ambassador-purple-legacy: #5F3EFF;
}

a, a:visited {
    transition: color 200ms linear 0ms;
    color: var(--ambassador-primary-color-dark);
    font-weight: normal;
}

a:hover {
    color: var(--ambassador-primary-color);
    cursor: pointer;
}

header {
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: var(--ambassador-primary-color);
    padding: 5px 60px 5px 60px;
    margin: 0 0 0 0;
    align-items: center;
}

.container-fluid,
.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

main {
    max-width: 1200px;
}

h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin: 60px 8px 8px 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid;
    border-color: var(--ambassador-border-gray);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after,
.timeline-centered .timeline-entry:after,
.timeline-centered:after {
    clear: both
}

img {
    vertical-align: middle
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%
}

.img-rounded {
    border-radius: 3px
}

.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out
}

.img-circle {
    border-radius: 50%
}

.timeline-centered {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.timeline-centered:after,
.timeline-centered:before {
    content: " ";
    display: table
}

.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    background: var(--ambassador-border-light-purple-20p-opacity);
    top: 20px;
    bottom: 20px;
    margin-left: 30px
}

.timeline-centered .timeline-entry .timeline-entry-inner:after,
.timeline-centered .timeline-entry .timeline-entry-inner:before,
.timeline-centered .timeline-entry:after,
.timeline-centered .timeline-entry:before {
    content: " ";
    display: table
}

.timeline-centered .timeline-entry {
    position: relative;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    clear: both
}

.timeline-centered .timeline-entry.begin {
    margin-bottom: 0
}

.timeline-centered .timeline-entry.left-aligned {
    float: left
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -18px
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
    left: auto;
    right: -100px;
    text-align: left
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
    float: right
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
    margin-left: 0;
    margin-right: 70px
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -20px
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
    position: absolute;
    left: -100px;
    text-align: right;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time>span {
    display: block
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time>span:first-child {
    font-size: 15px;
    font-weight: 700
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time>span:last-child {
    font-size: 12px
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    background: #fff;
    color: var(--ambassador-border-gray);
    display: block;
    width: 40px;
    height: 40px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px var(--ambassador-border-gray);
    -webkit-box-shadow: 0 0 0 5px var(--ambassador-border-gray);
    box-shadow: 0 0 0 5px var(--ambassador-border-gray);
    line-height: 40px;
    font-size: 15px;
    float: left
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
    background-color: #303641;
    color: #fff
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
    background-color: #F24E1E;
    color: #fff
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
    background-color: #00C05B;
    color: #fff
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
    background-color: #21a9e1;
    color: #fff
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
    background-color: #fad839;
    color: #fff
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
    background-color: #cc2424;
    color: #fff
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #f5f5f6;
    padding: 1em;
    margin-left: 60px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f5f5f6 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px
}

.date {
    color: var(--ambassador-text-color);
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    color: var(--ambassador-text-color);
    font-size: 12px;
    margin: 0;
    line-height: 1.428571429;
    padding: 0px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p+p {
    margin-top: 15px
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    font-size: 16px;
    margin-bottom: 10px
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
    color: #303641
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
    -webkit-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    -ms-filter: alpha(opacity=60);
    filter: alpha(opacity=60)
}